body {
  background: #FAF7D4;
  margin: 0;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.scene {
  max-height: 800px;
  margin: 0 auto;
  /* padding: 0; */
}

.layer:nth-child(1) img {
  /* background */
  height: 70vw;
  min-height: 566px;
}
.layer:nth-child(2) img {
  /* awan */
  position: fixed;
  top: 6vw;
}
.layer:nth-child(3) img {
  /* roket */
  width: 3%;
  position: fixed;
  top: 5vw;
  right: 8vw;
}
.layer:nth-child(4) img {
  /* burung */
  width: 7%;
  position: fixed;
  top: 7vw;
  left: 6vw;
}
.layer:nth-child(5) img {
  /* jembatan */
  width: 80%;
  position: fixed;
  bottom: 15vw;
  left: -5.1vw;
}
.layer:nth-child(6) img {
  /* comingsoon */
  position: fixed;
  top: 5vw;
  left: 43vw;
  width: 40%;
}
.layer:nth-child(7) img {
  /* kapal */
  width: 35%;
  position: fixed;
  bottom: 12vw;
  left: 65vw;

  animation: seamove 8s ease-out infinite;
  transform-origin: bottom center;
}
@keyframes seamove {
  0%   { -webkit-transform: rotate(0) translateY(0); }
  25%   { -webkit-transform: rotate(1deg) translateY(8px); }
  75% { -webkit-transform: rotate(-1deg) translateY(5px); }
  100% { -webkit-transform: rotate(0); }
}
.layer:nth-child(8) img {
  /* banyu bawah */
  width: 120%;
  /* height: 36%; */
  position: fixed;
  bottom: -32vw;
  left: -10vw;
}
.layer:nth-child(9) img {
  /* banyu pucuk */
  width: 120%;
  height: 33vw;
  position: fixed;
  bottom: -3vw;
  left: -10vw;
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
@media screen and (max-width:740px) {
  .layer:nth-child(2) img {
    top: 20vw;
  }
  .layer:nth-child(3) img {
    top: 19vw;
  }
  .layer:nth-child(4) img {
    top: 21vw;
  }
  .layer:nth-child(6) img {
    top: 19vw;
  }
}
@media screen and (orientation: portrait) {
  .layer:nth-child(9) img {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }
  .layer:nth-child(5) img {
    /* jembatan */
    left: -17vw;
  }
}
@media screen and (min-width: 334px) and (orientation: portrait) {
  .layer:nth-child(2) img {
    top: 22vw;
  }
  .layer:nth-child(3) img {
    /* roket */
    width: 4%;
    top: 33vw;
  }
  .layer:nth-child(4) img {
    /* burung */
    width: 10%;
    top: 58vw;
    left: 13vw;
  }
  .layer:nth-child(6) img {
    /* comingsoon */
    width: 50%;
    top: 34vw;
    left: 17vw;
  }
  .layer:nth-child(5) img {
    /* jembatan */
    width: 142%;
    bottom: -10vw;
  }
  .layer:nth-child(7) img {
    width: 45%;
    left: 5vw;
    bottom: -13vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    width: 130%;
    bottom: -44vw;
  }
  .layer:nth-child(9) img {
    width: 120%;
    bottom: -25vw;
  }
}
@media screen and (min-width: 376px) and (orientation: portrait) {
  .layer:nth-child(2) img {
    top: 22vw;
  }
  .layer:nth-child(3) img {
    /* roket */
    top: 33vw;
  }
  .layer:nth-child(4) img {
    /* burung */
    top: 58vw;
  }
  .layer:nth-child(6) img {
    /* comingsoon */
    top: 34vw;
  }
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: -7vw;
  }
  .layer:nth-child(7) img {
    bottom: -9vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -41vw;
  }
  .layer:nth-child(9) img {
    bottom: -22vw;
  }
}
@media screen and (min-width: 334px) and (max-height: 780px) {
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: -17vw;
  }
  .layer:nth-child(7) img {
    bottom: -19vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -51vw;
  }
  .layer:nth-child(9) img {
    bottom: -32vw;
  }
}
@media screen and (min-width: 334px) and (max-height: 610px) {
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: 13vw;
  }
  .layer:nth-child(7) img {
    bottom: 11vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -21vw;
  }
  .layer:nth-child(9) img {
    bottom: -2vw;
  }
}
@media screen and (min-width: 400px) and (orientation: portrait) {
  .layer:nth-child(2) img {
    top: 22vw;
  }
  .layer:nth-child(3) img {
    /* roket */
    top: 33vw;
  }
  .layer:nth-child(4) img {
    /* burung */
    top: 58vw;
  }
  .layer:nth-child(6) img {
    /* comingsoon */
    top: 34vw;
  }
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: -20vw;
  }
  .layer:nth-child(7) img {
    bottom: -23vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -54vw;
  }
  .layer:nth-child(9) img {
    bottom: -35vw;
  }
}
@media screen and (min-width: 500px) and (orientation: portrait) {
  .layer:nth-child(3) img {
    /* roket */
    top: 23vw;
  }
  .layer:nth-child(4) img {
    /* burung */
    top: 48vw;
  }
  .layer:nth-child(6) img {
    /* comingsoon */
    top: 24vw;
  }
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: -60vw;
  }
  .layer:nth-child(7) img {
    bottom: -62vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -94vw;
  }
  .layer:nth-child(9) img {
    bottom: -75vw;
  }
}
@media screen and (min-width: 360px) and (min-height: 780px) and (orientation: portrait) {
  .layer:nth-child(4) img {
    /* burung */
    top: 72vw;
  }
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: -55vw;
  }

  .layer:nth-child(7) img {
    bottom: -57vw;
  }

  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -89vw;
  }

  .layer:nth-child(9) img {
    bottom: -70vw;
  }
}
@media screen and (min-width: 700px) and (min-height: 1000px) and (orientation: portrait) {
  .layer:nth-child(4) img {
    /* burung */
    top: 42vw;
  }
}
@media screen and (min-height: 1200px) and (orientation: portrait) {
  .layer:nth-child(4) img {
    /* burung */
    top: 68vw;
  }
  .layer:nth-child(6) img {
    /* comingsoon */
    width: 56%;
  }
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: -80vw;
  }
  .layer:nth-child(7) img {
    bottom: -82vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -114vw;
  }
  .layer:nth-child(9) img {
    bottom: -95vw;
  }
}
@media screen and (min-width: 910px) and (min-height: 1344px) and (orientation: portrait) {
  .layer:nth-child(6) img {
    /* comingsoon */
    top: 17vw;
  }
  .layer:nth-child(4) img {
    /* burung */
    top: 42vw;
  }
  .layer:nth-child(5) img {
    /* jembatan */
    bottom: -55vw;
  }
  .layer:nth-child(7) img {
    bottom: -57vw;
  }
  .layer:nth-child(8) img {
    /* banyu bawah */
    bottom: -89vw;
  }
  .layer:nth-child(9) img {
    bottom: -70vw;
  }
}
@media screen and (max-width:334px) {
  .layer:nth-child(1) img {
    height: 70vw;
    min-height: 566px;
  }
  .layer:nth-child(2) img {
    top: 15vw;
  }
  .layer:nth-child(3) img {
    width: 5%;
    top: 18vw;
    right: 10vw;
  }
  .layer:nth-child(4) img {
    width: 10%;
    top: 24vw;
    left: 7vw;
  }
  .layer:nth-child(5) img {
    width: 160%;
    bottom: 22vw;
  }
  .layer:nth-child(6) img {
    top: 38vw;
    left: 4.2vw;
    width: 48%;
  }
  .layer:nth-child(7) img {
    width: 43%;
    bottom: 23vw;
    left: 5vw;
  }
  .layer:nth-child(8) img {
    width: 245%;
    bottom: -35vw;
    left: -17vw;
  }
  .layer:nth-child(9) img {
    width: 140%;
    height: 33vw;
    position: fixed;
    bottom: 8vw;
    left: -17vw;
  }
}
@media screen and (max-width:334px) {
  .layer:nth-child(2) img {
    top: 15vw;
  }
  .layer:nth-child(4) img {
    top: 67vw;
  }
  .layer:nth-child(6) img {
    top: 38vw;
    left: 12vw;
    width: 55%;
  }
  .layer:nth-child(8) img {
    bottom: -31vw;
  }
  .layer:nth-child(9) img {
    bottom: 10vw;
  }
}


#loading-content {
  position: absolute;
  left: 66%;
  top: 33%;
  width: 100px;
  height: 100px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
